{% extends "base.html" %} {% block title %} Tasks {% endblock %} {% block
content %} 
<form method="post" class="row g-3">
      <div class="col-md-6">
        <p>
          <label for="task" class="form-label">Task:</label>
          <input type="text" class="form-control" id="task" name="task" />
        </p>
      </div>

      <button type="submit" class="btn btn-primary">Add Task</button>
    </form>

    <table class="table table-secondary table-hover table-sm">
      <thead>
        <tr>
          <th scope="col">ID</th>
          <th scope="col">Task</th>
          <th scope="col">Date</th>
          <th scope="col">Status</th>
          <th scope="col">Option</th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody>
        {% for task in tasks %}
        <tr>
          <td>{{loop.index}}</td>
          <td>{{task.task_text}}</td>
          <td>{{task.date_created}}</td>
          <td>{{task.status}}</td>
          <td>
            <form action="{{url_for('tasks.complete_task', task_id=task.id)}}"method="post" style="display: inline">
            <button type="submit" class="btn btn-success">Complete</button>
           </form>
            <form action="{{url_for('tasks.delete_task', task_id=task.id)}}" method="post" style="display: inline">
            <button type="submit" class="btn btn-danger">Delete Task</button>
            </button>
            </form>
            
          </td> 
        </tr>
        {% endfor %}

{% endblock %}
